#header {
  background-color: teal;
  height: 150px;
  display: flex;
  align-items: flex-end;
}
.nav-pills {
  --bs-nav-pills-link-active-bg: #c28689;
}

.nav {
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: #c28689;
}

#profile > .text-center > h1 {
  color: teal;
}

.lead strong {
  font-size: 1.25em;
}

#edu .btn {
  background-color: teal;
}

#skills-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: teal;
  width: 90%;
  border-radius: 8px;
}

#skillset {
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills-type .btn {
  background-color: white;
  border-color: teal;
  color: teal;
}

#projects img {
  border-radius: 8px;
}

#projects h4 {
  color: teal;
}

#footer {
  background-color: #f0f1f3;
}

#footer span,
a {
  color: #cdbd6d;
}
